.login-page {
    position: relative;
}

.login-video {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  padding: 1rem;
  border-radius: 2rem;
}

.login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;
}

.login-form-container {
    width: 100%;
    padding: 0 2.5rem ;
}

.login-welcome {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  padding: 1.5rem 1rem 1rem 1rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1rem;
}

.login-brand {
    color: var(--color-white);
    align-items: center;
    text-align: center;
}

.login-brand a {
    color: var(--color-white);
    font-size: 1.5rem;
}

.login-brand p {
    font-size: 0.8rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    color: var(--color-white);
    
}

.login-form h1 {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
}

.login-field{
    display: flex;
    flex-direction: column;
}

.login-field input {
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
}

.login-button {
    border-radius: 1.5rem;
    padding: 0.5rem;
    background: none;
    border: none;
    background-color: var(--color-light-purple);
    font-weight: 500;
    transition: ease 0.3s;
    cursor: pointer;
}

.login-button:hover {
    color: var(--color-white);
    background-color: var(--color-purple);
}

.create-account {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    color: var(--color-white);
    padding-top: 1rem;
}

.login-message {
    text-align: center;
    white-space: nowrap;
    color: var(--color-orange);
}

@media (min-width: 768px) {

  .login-content {
   display: grid;
   grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    max-width: 700px;
  }

  .login-brand{
    margin: auto;
    text-align: left;
  }

  .login-brand a {
    font-size: 5rem;
}

.login-brand p {
    font-size: 1.6rem;
}

.login-form-container {
    margin: auto;
}


}

@media (min-width: 1280px) {
    .login-content{
        max-width: 800px;
    }

    .login-form-container {
    width: 500px;
}

.create-account {
    padding: 3rem 1rem 1rem 1rem;
}
}