/* RESET / GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts*/
  --font-logo: "Boldonse", Arial, Helvetica, sans-serif;
  --font-heading: "Ubuntu", Arial, Helvetica, sans-serif;
  --font-body: "Bricolage Grotesque", Arial, Helvetica, sans-serif;

  /*Colors*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #7e3fd6;
  --color-light-purple: #d2bcf9;
  --color-card: #f7f4fd;
  --color-orange: #dd5500;
}

html {
  text-size-adjust: none;
}

body {
  font-family: var(--font-body);
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

.logo {
  font-family: var(--font-logo);
}

.logo-highlight {
  color: var(--color-purple);
}

/* HEADER / NAVIGATION */

header {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 0.5rem 0;
  position: relative;
  border-bottom: 1px solid black;
  margin: 0 2rem;
}

nav > div:first-child {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.nav-logo {
  text-decoration: none;
  color: var(--color-black);
}

nav span {
  font-size: 0.9rem;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-desktop-links {
  display: none;
}

.nav-burger {
  border: 0;
  background: none;
  cursor: pointer;
}

.nav-mobile-menu {
  display: none;
  z-index: 20;
}

.nav-mobile-menu a {
  text-decoration: none;
  color: var(--color-black);
}

.nav-mobile-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 1rem;
  background-color: var(--color-white);
  width: 100%;
}

/* FOOTER */

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-image {
  position: relative;
  padding: 1rem;
}

.footer-image img {
  border-radius: 1.5rem;
}

.footer-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--color-white);
}

.footer-terms {
  text-decoration: none;
  color: var(--color-white);
}

.footer-copyright {
  position: absolute;
  right: 0.9rem;
  bottom: 0.9rem;
  background-color: var(--color-white);
  padding: 0.5rem;
  border-top-left-radius: 1.5rem;
  font-size: 0.7rem;
}
/* BREAKPOINTS*/

@media (min-width: 768px) {
  header {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
  }

  nav > div:first-child {
    background-color: var(--color-white);
    padding: 1rem 2rem 1rem 1rem;
    border-bottom-right-radius: 1.5rem;
  }

  .nav-desktop-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-black);
    padding: 1rem 1rem 0 0;
  }

  .nav-desktop-links a {
    text-decoration: none;
    color: var(--color-black);
  }

  .nav-desktop-links a i {
    color: var(--color-purple);
  }

  .nav-burger {
    display: none;
  }
  .nav-mobile-menu {
    display: none;
  }
}
