* {
  box-sizing: border-box;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Ubuntu", sans-serif;
}

.logo {
    font-family: "Boldonse", sans-serif;
}